<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Document</title>
  </head>
  <body>
    <main><h1><%= genre %></h1>
    <section class="flex row games-category">
        <%if(games.length>=1){ %>
            <% for(game of games){ %>
                <div class="game">
                    <p>Title: <%=game.name %></p>
                    <p>Price: <%=game.price %> $</p>
                </div>
          <%  } %>

        <% }else if(games.length===0){ %>
            <p>There aren't any games in the <%=genre%> category.</p>
     <%  } %>
    </section>
    <a href="/categories">Go back</a>
    <a href="/">Go home</a>
    </main>
  </body>
</html>
